.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px 8%;
  position: absolute;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.headerNavbar {
  display: flex;
  flex: 5;
  justify-content: center;
  gap: 1.5rem;
}

.headerNavbarMobile {
  display: none;
}

.headerNavbarMobileIcon {
  display: none;
}

.headerNavbar a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.headerIcons img {
  object-fit: contain;
  cursor: pointer;
}

.disable {
  display: none;
}

@media screen and (max-width: 1030px) {
  .headerNavbar {
    flex: 4;
    gap: 0.8rem;
  }
  .headerIcons {
    gap: 2rem;
  }
}

@media screen and (max-width: 880px) {
  .headerLogoImg {
    max-width: 100px;
    margin-right: 10px;
  }
  .headerNavbar {
    flex: 4;
    gap: 0.8rem;
  }

  .headerNavbar a {
    font-size: 12px;
  }
  .headerIcons {
    gap: 1rem;
  }
  .headerIcons img {
    width: 14px;
  }
}

@media screen and (max-width: 700px) {
  .headerLogoImg {
    max-width: 80px;
    margin-right: 8px;
  }
  .headerContainer {
    padding: 24px 2%;
  }
}

@media screen and (max-width: 588px) {
  .headerContainer {
    align-items: start;
    justify-content: space-between;
  }
  .headerNavbar {
    display: none;
  }
  .headerIcons {
    display: none;
  }

  .headerNavbarMobileIcon {
    display: flex;
  }

  .headerNavbarMobile {
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 201, 201);
    flex: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10% 0% 30% 40%;
  }
  .headerLink {
    text-decoration: none;
    cursor: pointer;
    color: rgb(92, 90, 90);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .headerNavbarMobileIcon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
