.footer {
  background-color: black;
  color: white;
  padding: 40px 150px;
}

.footerWrapper {
  display: flex;
  justify-content: space-around;
}

.footerLeft {
  flex: 1;
}

.footerLogo {
  margin-bottom: 18px;
}

.footerSocialIcons {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
}

.footerIconWrapper > img {
  opacity: 0.7;
}

.footerIconWrapper > img:hover {
  opacity: 1;
}

.footerRight {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footerList {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footerList p {
  margin: 0;
  /* margin-right: 130px; */
}

.footerList h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.footerList p {
  font-family: "Jost";
  font-style: normal;
  list-style: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 214%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #a1a1a1;
}

.footerBelow {
  height: 220px;
}

.footerUnderline {
  margin-top: 80px;
  border-bottom: 1px solid #333333;
  margin-bottom: 50px;
}

.footerBelowInfo {
  display: flex;
  justify-content: space-between;
}

.footerBelowInfo p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 214%;
  letter-spacing: 0.02em;
  color: #a1a1a1;
}
