.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
  gap: 5%;
}

.benefitItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.benefitItemIconImg {
  margin-bottom: 22px;
}

.benefitItemTitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 119.68%;
  margin-bottom: 15px;
}

.benefitItemDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188.5%;
  letter-spacing: 0.02em;
  color: #747474;
}
